1ero/1er Trimestre/LND/XML/Ejercicio matriculas resuelto.xml

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="matricula"/>
    <xs:element name="dni" type="xs:string"/>
    <xs:simpleType name="dni">
        <xs:restriction base="xs:string">
            <xs:pattern value="[1-9]{8}[A-Z]{1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="personal">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="dni"/>
                <xs:element name="nombre" type="xs:string"/>
                <xs:element name="titulacion" type="xs:string"/>
                <xs:element name="curso_academico" type="xs:string"></xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="domicilio">
        <xs:attribute name="tipo" type="xs:string"/>
    </xs:complexType>

        <xs:complexType name="domicilios">
            <xs:sequence>
                <xs:element name="domicilio" maxOccurs="unbounded"/>
                <xs:element name="nombre" type="xs:string" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>

    <xs:complexType name="pago">
        <xs:sequence>
            <xs:element name="pago" maxOccurs="unbounded"/>
            <xs:element name="tipo_matricula" type="xs:string" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>


<matricula>
    <personal>
    <dni>99223366M</dni>
    <nombre>Juan Pardo Martín</nombre>
    <titulacion>Ingeniería Informática</titulacion>
    <curso_academico>1997/1998</curso_academico>
    <domicilios>
        <domicilio tipo="familiar">
        <nombre>C/ Principal nº1</nombre>
        </domicilio>
        <domicilio tipo="habitual">
        <nombre>C/ Secundaria nº2</nombre>
        </domicilio>
    </domicilios>
    </personal>
    <pago>
    <tipo_matricula>Matrícula Ordinaria</tipo_matricula>
    </pago>
</matricula>