1ero/1er Trimestre/LND/XML/Practica para el examen.xml

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<xsi:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema">
    <xsi:element name="pagina"/>
    <xsi:complextype>
        <xsi:sequence>
            <xsi:element name="nombre" type="xsi:string"/>
            <xsi:element name="descripcion" type="xsi:string"/>
            <xsi:element name="url" type="xsi:anyURL"/>
        </xsi:sequence>

        <xsi:element name="marcadores">
            <xsi:complextype>
                <xsi:sequence>
                    <xsi:element ref="pagina" maxOcurrs="unbounded"/>
                </xsi:sequence>
            </xsi:complextype>
        </xsi:element>
    </xsi:complextype>
</xsi:schema>

<marcadores>
  <pagina>
    <nombre>Abrirllave</nombre>
    <descripcion>Tutoriales de informática.</descripcion>
    <url>http://www.abrirllave.com/</url>
  </pagina>
  <pagina>
    <nombre>Wikipedia</nombre>
    <descripcion>La enciclopedia libre.</descripcion>
    <url>http://www.wikipedia.org/</url>
  </pagina>
  <pagina>
    <nombre>W3C</nombre>
    <descripcion>World Wide Web Consortium.</descripcion>
    <url>http://www.w3.org/</url>
  </pagina>
</marcadores>
