1ero/2do Trimestre/LND/Ejercicios de Practica/Catalogo_Libros.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="catalogolibro"/>

<xs:element name="mes" type="tipoMes"/>
<xs:simpleType name="tipoMes">
    <xs:restriction base="xs:positiveInteger">
        <xs:minInclusive value="1"/>
        <xs:maxInclusive value="12"/>
    </xs:restriction>
</xs:simpleType>

<xs:element name="anyo" type="tipoAnyo"/>
<xs:simpleType name="tipoAnyo">
    <xs:restriction base="xs:positiveInteger">
        <xs:minInclusive value="1900"/>
        <xs:maxInclusive value="2011"/>
    </xs:restriction>
</xs:simpleType>

<xs:element name="titulo" type="tipoNombre"/>
<xs:element name="autor" type="tipoNombre"/>
<xs:element name="editor" type="tipoNombre"/>

<xs:simpleType name="tipoNombre">
    <xs:restriction base="xs:string">
        <xs:minLength value="0"/>
        <xs:maxLength value="100"/>
    </xs:restriction>
</xs:simpleType>

<xs:element name="ISBN" type="tipoISBN"/>
<xs:simpleType name="tipoISBN">
    <xs:restriction base="xs:string">
        <xs:minLength value="13"/>
        <xs:maxLength value="17"/>
    </xs:restriction>
</xs:simpleType>

<xs:element name="fecha" type="tipoFecha"/>
<xs:complexType name="tipoFecha">
    <xs:sequence>
        <xs:element name="dia" type="xs:positiveInteger"/>
        <xs:element ref="mes"/>
        <xs:element ref="anyo"/>
    </xs:sequence>
</xs:complexType>


<xs:complexType name="libro">
    <xs:sequence>
        <xs:element ref="titulo"/>
        <xs:element ref="autor" maxOccurs="unbounded"/>
        <xs:element ref="fecha"/>
        <xs:element ref="ISBN"/>
        <xs:element ref="editor"/>
    </xs:sequence>
    <xs:attribute name="categoria">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="autobiografia"/>
                <xs:enumeration value="noficcion"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:attribute>
</xs:complexType>






</xs:schema>
